.vs 
.pdb
.ilk
.out
x64
_OBJ
*.ilk
*.pdb
*.user
*.exp
*.ipdb
/build/VS/lib/FloatingMeasure.iobj
/build/VS/bin/TestRunner.iobj
/FloatingMeasure/CMakeFiles
/FloatingMeasure_Examples/CMakeFiles
/FloatingMeasure_Test/CMakeFiles
/CMakeFiles
Makefile
*.iobj
/FloatingMeasureWrapper/Debug
/FloatingMeasureWrapperTest/obj
/FloatingMeasureWrapperTest/bin/Debug
/FloatingMeasure_Examples/Debug
/FloatingMeasure_Test/Debug
/Debug
/FloatingMeasure/Debug
/packages
/ComplexMeasureMacros/bin/Debug
/ComplexMeasureMacros/obj
/FloatingMeasure/Release
/FloatingMeasureWrapper/Release
/FloatingMeasureWrapper/app.aps
/FloatingMeasure_Examples/Release
/FloatingMeasure_Test/Release
/Release/x86
/utFloatingMeasureWrapper.playlist
/FloatingMeasureWrapperTest/bin/Release
