.vs 
.pdb
.ilk
.out
x64
/build/lib/FloatingMeasure.dll
*.ilk
*.pdb
/build/lib/FloatingMeasure.lib
*.user
*.exp
*.ipdb
/build/VS/lib/FloatingMeasure.lib
/build/VS/lib/FloatingMeasure.iobj
/build/VS/lib/FloatingMeasure.dll
/build/VS/include/Utils/Utils.h
/build/VS/include/Utils
/build/VS/include/Measure/VectorHandle.h
/build/VS/include/Measure/SimpleMeasure.h
/build/VS/include/Measure/PreMeasure.h
/build/VS/include/Measure/MeasureOperator.h
/build/VS/include/Measure/ComplexMeasureMacros.h
/build/VS/include/Measure/ComplexMeasure.h
/build/VS/include/Measure/BaseMeasure.h
/build/VS/include/Measure
/build/VS/include/FloatingMeasure/FloatingMeasure.h
/build/VS/include/FloatingMeasure
/build/VS/include/DigFloat/DigFloat.h
/build/VS/include/DigFloat
/build/VS/bin/TestRunner.lib
/build/VS/bin/TestRunner.iobj
/build/VS/bin/TestRunner.exe
