.vs 
.pdb
.ilk
.out
x64
_OBJ
*.ilk
*.pdb
*.user
*.exp
*.ipdb
/build/VS/lib/FloatingMeasure.iobj
/build/VS/bin/TestRunner.iobj
/FloatingMeasure/CMakeFiles/FloatingMeasure.dir
/FloatingMeasure/CMakeFiles
